# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Emacs backups
*~
*.bak

# HTMLs
*.html

# Temp files
temp.*
temp*

# Tarballs
*.tar.bz2
*.tar.gz
*.zip
*.rar
*.7z

# Data
data/ball_train
data/ball_train_2
data/KB
data/MobileRobotAndBall1
data/football.mp4

# do not ignore
!libs/
!data/Football_data.tar.bz2
